{% extends "base.html" %}

{% block extrahead %}

    <!-- Verification for Google search -->
    <meta name="google-site-verification" content="sALqmNQZWZ6_5ig5JqIaFiR6AMUotcGG6xFq_fQPt_U" />
    <!-- End of verification for Google search -->

{% endblock %}

{% block scripts %}
  {{ super() }}
  
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQWH3L28"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Ask Cookbook (AI Assistant) -->
    <div id="__cookbook" data-api-key="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2NWQxNWI0YTUyNTcyZmMzMDI2ODg1OTgiLCJpYXQiOjE3MDgyMTkyMTAsImV4cCI6MjAyMzc5NTIxMH0.kjO3jaiDucVtCmF-665MVeRBd-VBm5MYYvwrzoIfVyQ"></div>
    <script defer src="https://cdn.jsdelivr.net/npm/@cookbookdev/docsbot/dist/standalone/index.cjs.js"></script>
{% endblock %}
